<h1>about</h1>

<div class="about">
	<p>This web app was made with Ruby on Rails. Big thanks to <a href="https://opentdb.com/api_config.php">Open Trivia Database API</a>. Visit the <a href="https://github.com/katesyberspace/the_quiz">Github</a> for more.</p>
	<p>Made by:</p>

	<p>Francesco Petraroli >> <a href="https://www.linkedin.com/in/francescopetraroli/" target="_blank"><i class="fab fa-linkedin"></i></a><a href=""></a>
	
	</p>

	<!-- <p>Kate Sy</p>
	https://www.linkedin.com/in/katesy/

	<p>Megan McKeough</p>
	https://www.linkedin.com/in/megan-mckeough/
	 -->
</div>




<i class="fab fa-github-square"></i>