<nav>
	<ul>
	  <li class="shake"><a href="/">home</a></li>
	  <li class="shake"><a href="/howtoplay">how to play</a></li>
	</ul>
</nav>

<h1>about</h1>

<div class="about">
	<p>This web app was made with Ruby on Rails. Big thanks to <a href="https://opentdb.com/api_config.php">Open Trivia Database API</a>. Visit the <a href="https://github.com/katesyberspace/the_quiz">Github</a> for more.</p>
	<p>Made by:</p>

	<p class="fran">Francesco Petraroli >> <a href="https://www.linkedin.com/in/francescopetraroli/" target="_blank"><i class="fab fa-linkedin shake"></i></a><a href="https://github.com/franPetraroli"><i class="fab fa-github-square shake"></i></a></p>

	<p class="kate">Kate Sy >> <a href="https://www.linkedin.com/in/katesy/" target="_blank"><i class="fab fa-linkedin shake"></i></a><a href="https://github.com/katesyberspace"><i class="fab fa-github-square shake"></i></a></p></p>

	<p class="megan">Megan McKeough >> <a href="https://www.linkedin.com/in/megan-mckeough/" target="_blank"><i class="fab fa-linkedin shake"></i></a><a href="https://github.com/meganmckeough"><i class="fab fa-github-square shake"></i></a></p></p>

	<p>2018</p>
</div>




