<h1 class="lets-quiz">Let's Quiz</h1>

<%= form_tag "/users", method: 'post' do %>
  <label for="">name</label>
  <input type="text" name="name">
  <label for="">email</label>
  <input type="email" name="email">
  <label for="">password</label>
  <input type="password" name="password">
  <button>sign up!</button>
<% end %>

<a href="/login"> already a user? log in </a>

<style>
  .lets-quiz {
    animation: change-color 5000ms infinite ease-in-out;
  }

  @keyframes change-color {
    0% {color: #69b4ff}
    100% { color: #b4ff69}
  }

</style>