<nav>
	<ul>
	  <li class="anc-shake"><a href="/">home</a></li>
	  <li class="anc-shake"><a href="/about">about</a></li>
	</ul>
</nav>

<h1>how to play</h1>

<div class="about">

	<p>Start a <span>new game</span>, or join an existing game with a <span>join code.</span></p>

	<p>If you are the <span>game creator</span>, send the join code (bottom of page) to a friend and wait for them to join the game. When they do you will have the option to Start Game. After you click Start Game, the game will begin in 10 seconds.</p>

	<p>If you are <span>joining a game</span>, use the join code. The game will start straight away.</p>

	<p>There are <span>20 questions</span> to answer.</p>

	<p>You have <span>6 seconds</span> to answer each question.</p>

</div>

<img src="/dino.gif" alt="">