<nav>
	<ul>
	  <li class="anc-shake"><a href="/about">about</a></li>
	  <li class="anc-shake"><a href="/howtoplay">how to play</a></li>
	</ul>
</nav>

<h1>welcome <%= @user.name %>!</h1>

<form action="/games" method="post">
	<label for="">create a new game</label>
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="text" name="name" placeholder="Name your game...">
	<button>create game!</button>
</form>

<form action="/games_users" method="post">
	<label for="">join game with a code</label>
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="text" name="code" placeholder="Type code here...">
	<button>join game!</button>
</form>

<%= form_tag "/sessions", method: 'delete' do %>
  <button class="logout">log out</button>
<% end %>
<a href="/">back to home</a>