
<div class="container">
  <h1>Game Page</h1>

  <div class="users">
    <h4>User Connected</h4>
    <ul>
      <li>User1</li>
      <li>User2</li>
    </ul>
  </div>

  <div id="timer">10s left</div>

  <main>
  <div class="question-box">This is a question</div>
  <ul class="answears">
    
  </ul>
  </main>

</div>


<script>
  const timer = document.querySelector('#timer'),
        question = document.querySelector('.question-box'),
        answ = document.querySelector('.answears');
  let questionNumber = 0;

  function start(){
    startTimer(3, startGame)
  }

  function startTimer(num, func){
    var startTimer = setInterval(function(){
      timer.textContent = --num + 's left';
      if(num === 0){
        clearInterval(startTimer);
        func()
      }
    },1000);
  }
  function startGame(){
    let result = JSON.parse('<%= @results.to_json.html_safe %>');
    console.log(result[0].correct_answer);

    displayQuestion(result, questionNumber)
    displayAnswears(result, questionNumber)

    // const someFunc = () => displayAnswears(result, questionNumber)
    // startTimer(5, someFunc);
    if(questionNumber <= 19){
      questionNumber++
      startTimer(7, startGame)
    }
  }

  function displayQuestion(result, idx){
    question.textContent = result[idx].question
  }

  function displayAnswears (result, idx){
    answ.innerHTML = ''
    let answears = []
    answears.push(result[idx].correct_answer)
    answears.push(...result[idx].incorrect_answers)
    answears.forEach(elem => {
      let li = document.createElement('li')
      li.textContent = elem;
      li.classList.add('answear')
      answ.appendChild(li)
    });
    
  }
  answ.addEventListener('click', clicked)

  function clicked(){
    event.target.classList.add('clicked')
    answ.removeEventListener("click", clicked);
  }
  
  start();
</script>

<style>
  *{
  box-sizing: border-box;
  }

  body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .container{
    margin: 0 auto;
  }

  .users{
    background: #ccc;
  }

  .users li{
    padding: 0;
  }

  h1{
    color: red;
  }

  ul{
    list-style: none;
  }

  #timer{
    background-color: #ddd;
    padding:10px 50px;
    margin: 30px auto;
    width: 50%;
    font-size:24px;
  }

  .question-box{
    background-color: #ddd;
    padding: 50px 100px;
    text-align: center;
  }

  .answears{
    margin: 50px auto;
    padding: 0;
    width:50%;
  }

  .answears li{
    background-color:#DDD;
    padding:10px 25px;
    margin:10px 0;
    text-align: center;
  }

  .answears li:hover{
    background:#ccc;
    box-shadow: 10px 10px 8px #888888;
  }

  .clicked{
    background: #000;
    color: #fff;
  }

</style>

