// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-font: 'Roboto Mono', monospace;
$contrast-color: #b4ff69;
$header-color: #69b4ff;

body {
	text-align: center;
	font-family: $main-font;
	// change these colors back later
	background-color: white;
	color: black;
	font-size: 2em;
	padding: 6em 0;

	h1 {
		color: $header-color;
	}
}

form {
	display: flex;
	flex-direction: column;
	text-align: center;

	input, 
	button {
		padding: 1em;
		margin: 1em 0.5em;
		font-size: 1.5em;
		font-family: $main-font;
		border: none;
	}
	
	button {
		background-color: $contrast-color;
	}
}

@media (min-width: 600px) {
	body {
		font-size: 1em;
	}

	// input, 
	// button {
	// 	margin: 1em 0.5em;
	// 	font-size: 0.5em;
	// 	padding: none;
	// }
}