// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$main-font: 'Roboto Mono', monospace;
$timer-color: hotpink;
$contrast-color: #b4ff69;
$header-color: #69b4ff;
$box-color: #AFEED9;

* {
  box-sizing: border-box;
}

.color-top {
	height: 20px;
	background-color: #69b4ff;
	padding: none;
	margin: none;
}

body {
	text-align: center;
	font-family: $main-font;
	color: black;
	font-size: 20px;
	padding: 0;

	h1 {
		color: $header-color;
		text-transform: uppercase;
		letter-spacing: 0.5em;
	}

	ul {
		list-style: none;
	}
}

//styles for form pages

form {
	display: flex;
	flex-direction: column;
	text-align: center;

	input, 
	button {
		padding: 1em;
		margin: 1em 0.5em;
		font-size: 1.5em;
		font-family: $main-font;
		border: none;
	}
	
	button {
		background-color: $contrast-color;
	}
}

//styles for show page

.container {
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

.users {
	padding: 1em;
}

.users li {
  padding: 0;
  margin-left: 0;
}

#timer {
	border: $timer-color 1px solid;
	padding: 10px 50px;
	margin: 30px auto;
	width: 40%;
	color: $timer-color;
}

.question-box {
    background-color: $box-color;
    padding: 50px 100px;
    text-align: center;
}

  .answers{
    margin: 50px auto;
    padding: 0;
    width:50%;
  }

  .answers li{
    border: $box-color 1px solid;
    padding:10px 25px;
    margin: 10px 0;
    text-align: center;
    font-size: 1.5em;
  }

  .answers li:hover{
    background: black;
    color: $box-color;
    box-shadow: 5px 5px 8px $box-color;
  }

  .clicked{
    background: #000;
    color: $box-color;
  }

//media queries

@media (min-width: 600px) {
	body {
		font-size: 1em;
	}

	h1 {
		padding-top: 0;
	}

	.code, 
	.users {
		font-size: 0.8em;
	}
}